body {
    background-color: #dfd4d0;
  }
  
  #title {
    text-align: center;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
  }
  
  #img-caption {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
  }
  
  #tribute-info {
    text-align: center;
    font-size: 18px;
  }
  
  #tribute-link-div {
    text-align: center;
    margin-bottom: 0;
  }
  
  